---
import CardDeck from "@/src/components/cards/CardDeck.astro";
import Layout from "@/src/layouts/Layout.astro";
import APicas from "@/src/components/cards/APicas.astro";
import DosPicas from "@/src/components/cards/DosPicas.astro";
import NueveDiamantes from "@/src/components/cards/NueveDiamantes.astro";
import QTrevoles from "@/src/components/cards/QTrevoles.astro";
import SeisCorazones from "@/src/components/cards/SeisCorazones.astro";
import HandIcon from "@/src/components/icons/HandIcon.astro";
import GitHubIcon from "@/src/components/icons/GitHubIcon.astro";
import NPMIcon from "@/src/components/icons/NPMIcon.astro";
import TextBox from "@/src/components/ui/TextBox.astro";
import Controls from "@/src/components/cards/Controls.astro";
import Documentation from "@/src/components/content/documentation.md";
---

<Layout>
  <div class="prose text-center mb-10">
    <h1>Card Deck<br />Web Component</h1>

    <div>
      <h3>Simple swappable card deck</h3>
    </div>
  </div>

  <HandIcon />

  <div class="relative grid place-content-center place-items-center">
    <span
      class="absolute flex m-auto font-bold text-[18px] border border-stone-500 w-full h-full justify-center items-center rounded-[10px] border-dashed"
      >No more cards :(</span
    >
    <CardDeck>
      <div>
        <APicas />
      </div>
      <div>
        <DosPicas />
      </div>
      <div>
        <NueveDiamantes />
      </div>
      <div>
        <QTrevoles />
      </div>
      <div>
        <SeisCorazones />
      </div>
    </CardDeck>
  </div>

  <Controls />

  <div class="grid md:grid-cols-2 gap-12 mt-12">
    <a
      class="font-bold hover:underline text-xl flex gap-2 items-center"
      href="https://github.com/salvadorsru/card-deck"
      target="_blank"
    >
      <GitHubIcon />
      Go to Github
    </a>
    <a
      class="font-bold hover:underline text-xl flex gap-2 items-center"
      href="https://www.npmjs.com/package/@salvadorsru/card-deck"
      target="_blank"
    >
      <NPMIcon />
      Go to NPM
    </a>
  </div>

  <section class="mt-12 w-full max-w-[90%] md:max-w-full mx-auto">
    <TextBox>
      <Documentation />
    </TextBox>
  </section>
</Layout>

<script>
  import * as Emulate from "@/public/js/emulate.min.mjs";
  // @ts-ignore
  window.Emulate = Emulate;
</script>

<style is:inline>
  card-deck > div {
    display: grid;
    place-content: center;
    place-items: center;
  }

  card-deck .to-left::after {
    content: "DISCARD";
    font-weight: bold;
    position: absolute;
    display: flex;
    place-content: center;
    place-items: center;
    margin: auto;
    inset: 0;
    font-size: 2rem;
    background-color: rgb(255 0 0 / 0.85);
    padding: 10px;
    border-radius: 10px;
  }

  card-deck:has(.to-right) {
    --card-border: rgb(0 255 0 / 1);
  }

  card-deck .to-right::after {
    content: "GO";
    font-weight: bold;
    position: absolute;
    display: flex;
    place-content: center;
    place-items: center;
    margin: auto;
    inset: 0;
    font-size: 2rem;
    background-color: rgb(0 255 0 / 0.85);
    padding: 10px;
    border-radius: 10px;
  }
</style>
