card-deck {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--card-width, fit-content);
    min-height: var(--card-height, fit-content);
    aspect-ratio: var(--card-aspect-ratio, inherit);
}

card-deck>* {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    user-select: none;
}

card-deck .go-left {
    opacity: 0;
    transform: var(--card-go-left, translateX(calc(-100vw + 100%)) rotate(-30deg)) !important;
}

card-deck .go-right {
    opacity: 0;
    transform: var(--card-go-right, translateX(calc(100vw - 100%)) rotate(30deg)) !important;
}

card-deck .go-left,
card-deck .go-right {
    transition:
        transform var(--transition-time, 0.3s) ease,
        opacity var(--transition-opacity, 0.3s) ease,
        rotate var(--transition-rotation, 0.3s) ease;
}

card-deck .reset {
    transition: transform 0.3s ease;
    transform: translateX(0) !important;
}